<div class="contact-section text-center text-white">
  <div class="container">
    <h2 class="contact-title mb-3">Contact Us</h2>
    <p class="contact-description mb-4 mx-auto">
      We are always open to discuss new value-adding partnerships.<br>
      Do reach out if you are an exchange or a project looking for liquidity; an algorithmic trader or a software developer looking to improve the markets with us or just have a great idea you can't wait to share with us!
    </p>
    <a routerLink="/contactus" class="btn contact-btn">GET IN TOUCH</a>
  </div>
</div>
